body {
    background-color: rgb(200, 210, 230);
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: white;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {

}

#navbar form {
    width: 50%;
}

#navbar input {
    width: 70%;
    padding: 5px;
}

#navbar button {
    padding: 5px;
    margin: 3px;
}

#navbar button:hover {
    cursor: pointer;
}

.nav-links a {
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 110, 255);
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(0, 110, 255);
    border-radius: 15px;
}

.nav-links a:hover {
    color: white;
    background-color: rgb(0, 110, 255);
}

/* Forum Banners */
.forum-banner {
    background-color: white;
    padding: 20px;
    margin: 30px 80px;
}

.forum-banner:hover {
    border: 1px solid black;
}

/* Post Banners */
.post-banner {
    background-color: white;
    padding: 20px;
    margin: 30px 80px;
}

.post-banner:hover {
    border: 1px solid black;
}

/* Forum Container */
.forum-title {
    text-align: center;
    font-size: 2em;
}

/* Post Container */
.post, .comments-container {
    background-color: white;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}

#comment-box {
    font-family: inherit;
    width: 50%;
    height: 100px;
}

#submit-comment-btn {
    display: block;
}