body {
    background-color: #bbb;
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: white;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {

}

#navbar form {
    width: 50%;
}

#navbar input {
    width: 70%;
    padding: 5px;
}

#navbar button {
    padding: 5px;
    margin: 3px;
}

#navbar button:hover {
    cursor: pointer;
}

.nav-links a {
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 110, 255);
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(0, 110, 255);
    border-radius: 15px;
}

.nav-links a:hover {
    color: white;
    background-color: rgb(0, 110, 255);
}
